# Telegram Bot configuration for notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_IDS=

# T-Bank (Tinkoff) Terminal configuration
TBANK_TERMINAL_KEY=
TBANK_PASSWORD=
SITE_URL=
https://live-woman-energy.ru